<section class="content-header">
  <h1>
    Packs
  </h1>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a routerLink="/pack">List</a></li>
    <li class="active">Detail</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Detail Pack</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
          <div class="box-body" *ngIf="pack">
						<dl>
							<dt>ID</dt>
							<dd class="margin-bottom">{{pack.id}}</dd>
							<dt>Title</dt>
							<dd class="margin-bottom">{{pack.title}}</dd>
							<dt>Price</dt>
							<dd class="margin-bottom">{{pack.price | currency:'IDR':'Rp.'}}</dd>
							<dt>Description</dt>
							<dd class="margin-bottom">{{pack.description}}</dd>
						</dl>
          </div>
          <!-- /.box-body -->

          <div class="box-footer" *ngIf="pack">
            <a class="btn btn-primary" routerLink="/pack/edit/{{pack.id}}">Edit</a>
          </div>
      </div>
    </div>
  </div>
</section>