<section class="content-header">
  <h1>
    Benefits
  </h1>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">List</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">List of Benefits</h3>

          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <div class="input-group-btn">
                <button (click)="add()" type="button" class="btn btn-info btn-sm pull-right">Add</button>
                <button type="button" class="btn btn->default btn-sm pull-right" data-toggle="modal" data-target="#search-default" style="margin-right:5px !important;">Search</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let benefit of benefits.body; let i=index;">
              <td>{{benefit.id}}</td>
              <td>{{benefit.title}}</td>
              <td>
                <a class="btn btn-default margin-r-5 btn-sm" routerLink="/benefit/detail/{{benefit.id}}">Detail</a>
                <a class="btn btn-default margin-r-5 btn-sm" routerLink="/benefit/edit/{{benefit.id}}">Edit</a>
                <button type="button" class="btn btn-danger margin-r-5 btn-sm" (click)="delete(benefit.id)">Delete</button>
              </td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->

        <div class="box-footer clearfix" *ngIf="benefits.body.length < benefits.x_total_count">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li *ngIf="page > 1"><button (click)="reloadBenefits(+(page)-1)" type="button" class="btn btn-default btn-sm margin-r-5">« Prev</button></li>
            <li *ngIf="page * limit < benefits.x_total_count"><button (click)="reloadBenefits(+(page)+1)" type="button" class="btn btn-default btn-sm">Next »</button></li>
          </ul>
        </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>


<div class="modal" id="search-default" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Search</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputPassword1">Keyword</label>
          <input type="text" class="form-control" placeholder="Enter keyword(name, email, address)" [(ngModel)]="keyword">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="reloadBenefits()">Submit</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>